<h1>New forumtheme</h1>

<%= start_form_tag :action => 'create' %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<%= end_form_tag %>

<% if(@folder_id.nil?) %>
	<%= link_to 'Back', :controller => 'forumfolders', :action => 'show' %>
<% else %>
	<%= link_to 'Back', :controller => 'forumfolders', :action => 'show', :id => @folder_id %>
<% end %>
