<%= error_messages_for 'forumfolders' %>

<!--[form:forumfolders]-->
<p><label for="forumfolders_name">Name</label><br/>
<%= text_field 'forumfolders', 'name'  %></p>

<p><label for="forumfolders_anz_themen">Anz themen</label><br/>
<%= text_field 'forumfolders', 'anz_themen'  %></p>
<!--[eoform:forumfolders]-->

